html, body {
    min-height: 100vh;
    background-color: #121212;
    color: white;
}
body {
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', monospace;
    margin: 0;
}
a{
    text-decoration: none;
    color: white;
}


.header{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #222225 ;
}


/* LOGO: */
.logo{
    border-radius: 100px;
    width: auto;
    height: 50px;
}
.headerbutton {
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: bold;
    font-size: 24px;
}


/* FUNCTIONING SEARCH BAR: (Add function to be called when button pressed in JS)*/
.search-bar input {
    text-align: left;
    width: 400px;
    color: white;
    padding: 10px 10px;
    border: 2px solid rgba(255, 255, 255, 0.823);
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.07);
}
.search-bar button {
    position: absolute;
    top: 25px;
    right: 35px;
    background: transparent;
    border: none;
    padding: 2px;
}
button:hover {
    cursor: pointer;
}


/* FOOTER:  */
.footer { 
    margin-top: auto;
    padding: 10px 20px;
    background-color: #222225 ;
    font-family: roboto;

    display: flex;
    gap: 200px;
    justify-content: center;
    align-items: center;
}

.footerbtn {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer ul{
    padding: 0;
    list-style-type: none;
    font-weight: lighter;
}

.footer ul li {
    margin-bottom: 8px;
}
.ListTitle {
    font-weight: bold;
    font-size: 20px;
}

#by-day {
    margin: 10px;
    padding: 10px;
    height: 350px;
    display: flex;
    align-items: center;
    border: white;
    border-radius: 5px;
    border-style: double;
    overflow: auto;
    position: relative;
}
.card1,.card2{
    margin-left: 10px;
    height: 150px;
    width: 150px;
    border-radius: 5px;
    color: white;
    background-color: rgb(111, 155, 161);
}
/* card-class */
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #334155;
    border-radius: 10px;
    margin: 10px;
    height: 35vh;
    width: 30vh;
    transition: all;
    transition-duration: 1s;
}
.card-img{
    --size:5rem;
    height: var(--size);
    width: var(--size);
    border-radius: 100000px;
    transition: all;
    transition-duration: 1s;
}
.card-name{
    font-family: Roboto,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    height: 2rem;

}
.card-info{
    display: flex;
    justify-content: space-around;
    height: 2rem;



}
.card:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px 5px rgba(196, 193, 193, 0.5);
    cursor: pointer;

}
.card-img:hover{
    transform: rotate(360deg);
    
}
#text1{
    font-size: larger;
    text-align: center;
}